      * {
          margin: 0;
          padding: 1vw;
          box-sizing: border-box;
          outline: none;
      }
 
      body {
          background-color: rgb(6, 27, 1);
          color: #fff;
          font:
              normal 1rem arial,
              sans-serif;
      }

      header {
          color: #fff;
          text-align: center;
      }
      h1{ text-transform: uppercase;}

      section {
          background-color: #e1e2e3;
          color: #000;
          font-weight: 500;
          box-shadow: 2px 1px #003;
          width: 85vw;
          height: auto;
          margin: auto;
          border-radius: 8px;
          padding: 15px;
      }
      section .msg{
        font-weight: 600;
      }
      #foto{
        width: 70%;
        height: 100%;
        border-radius: 100%;
      }

      footer {
          padding: 20px;
          color: #fff;
          text-align: center;
          font-style: italic;
          
      }